/*
Theme Name: Astra Child
Theme URI: https://wpastra.com/
Template: astra
Author: Brainstorm Force
Author URI: https://wpastra.com/about/?utm_source=theme_preview&utm_medium=author_link&utm_campaign=astra_theme
Description: Astra is fast, fully customizable &amp; beautiful WordPress theme suitable for blog, personal portfolio, business website and WooCommerce storefront. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with Schema.org code integrated and is Native AMP ready so search engines will love your site. It offers special features and templates so it works perfectly with all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. Some of the other features: # WooCommerce Ready # Responsive # RTL &amp; Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained &amp; Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and WooCommerce ready theme that you can use for building any kind of website!
Tags: custom-menu,custom-logo,entertainment,one-column,two-columns,left-sidebar,e-commerce,right-sidebar,custom-colors,editor-style,featured-images,full-width-template,microformats,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready,blog
Version: 4.7.2.1720455058
Updated: 2024-07-08 16:10:58

*/

/*-------GENERAL------*/

:root {
    --primary-color:#DC9F96;
    --secondary-color:#C02E44;
    --third-color:#3b8e47;
    --fourth-color:#ede2da;
    --fifth-color:#d1786d;
    --sixt-color:#E0B9B4;
}

ul {
    margin:0;
 }

* {
    max-width: 1440px;
}


/*------HEADER-------*/

.menu-header-container {
    padding:0;
    display:flex;
    justify-content: space-between;
}

.custom-logo {
    padding-left:30px;
}

.primary-menu-class {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:50px;
}

.menu-link {
    color:black;
    font-size:16px;
}

.menu-bouton a {
    height:80px;
    display: inline-block;
    padding: 27px 70px;
    background-color: var(--primary-color); 
    color: white; 
    font-weight: 600;
}

.menu-bouton a:hover {
    background-color: var(--secondary-color); 
}

.survol:hover {
    font-weight: bold;
    color:black;
    text-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-login-menu-item {
    font-size:16px;
}

.custom-login-menu-item:hover {
    font-weight: bold;
    color:black;
    text-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-admin-menu-item {
    font-size:16px;
}

.custom-admin-menu-item:hover {
    font-weight: bold;
    color:black;
    text-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
}



/*------ACCUEIL------*/

.entry-content {
    background-color: var(--fourth-color);
}

.site-content {
    background-color:var(--fourth-color);
}


#home {
    padding:50px;
    padding-top:100px;
}

#about h3 {
    color:var(--third-color);
}

#whyus .wp-block-button {
    height:80px;
    display: inline-block;
    padding:40px;
}

#whyus h2 {
    color:var(--fifth-color);
    font-size:30px;
}

#comments {
    background-color: white;
}

.alignfull .has-ast-global-color-3-background-color .has-background {
    position:relative;
}

.image1 {
    position: absolute;
    top: 72px;
    left: 352px;
    z-index: 1;
}

.image2 {
    position: absolute;
    top: 72px; 
    left: 187px; 
    z-index: 2;
    
}

.image3 {
    position: absolute;
    top: 50px; 
    left: -355px; 
    z-index: 3;
}

.entry-content .alignfull .has-ast-global-color-5-background-color .has-background {
    padding-bottom:0;
}

.canettes {
    background-color: white;
}

.wp-block-cover__background.has-background-dim-0.has-background-dim  {
    width:393px;
}

/* Gestion des shapes dividers */

.uagb-container__shape svg {
    width: 1440px;
    height: 100px; 
    top: 20px;
}

.uagb-container__shape {
     overflow:visible;
}



/*------NOUS RENCONTRER-----*/

.containertitle h2 {
    padding-top:70px;
}

.staffcontainer {
    padding-bottom:0;
    background-color: white;
}

.staffcontainer .ast-container {
    padding:0;
    margin:0;
}

/*Gestion positionnement des éléments dans section "l'Équipe"*/
.wp-block-uagb-container.uagb-block-fa8d658b,
.wp-block-uagb-container.uagb-block-46440411,
.wp-block-uagb-container.uagb-block-640fe36b {
    gap:0;
}

.wp-block-uagb-container.names.uag-hide-mob.uagb-block-ed923e27.alignfull.uagb-is-root-container {
    padding:0;
}

.wp-block-uagb-container.staffcontainer.uagb-block-22d81277.alignfull.uagb-is-root-container {
    padding-top:124px;
}

.wp-block-uagb-container .uagb-block-e38ac475 {
    gap:0px;
}

.imgcontainer {
    gap:0px;
}

.namescontainer {
    gap:0px;
}

#fluentform_3 {
    width:39%;
}

.fluentform.ff-default.fluentform_wrapper_3.form1.ff_guten_block.ffs_default_wrap {
    display:flex;
    justify-content: center;
    width:100%;
}

.wp-block-uagb-container.uagb-block-ffdec2ed.alignfull.uagb-is-root-container {
    padding:0;
}



/*-------COMMANDER---------*/

.titrecommander {
    padding-top:70px;
}

.titrepage {
    padding-top:50px;
    padding-bottom:30px;
    padding-left:0px;
}

.wp-block-uagb-container.commandcontainer.uagb-block-48a2f72b {
    border-top:1px solid white;
    padding:0px;
    gap:0;
}

.wp-block-uagb-container.formcontainer.uagb-block-f67b1945.alignfull.uagb-is-root-container {
    padding-top:0;
}

.frm-fluent-form {
    width:860px;
}

.wp-block-uagb-container.uagb-block-fb61e62b {
    padding:0;
}

.wp-block-uagb-container.formcontainer.uagb-block-f67b1945.alignfull.uagb-is-root-container {
    padding-left:0px;
}

.ff-t-column-1 .ff-t-container {
    display: flex;
    flex-direction: column-reverse;
}

.ff-t-column-2 .ff-t-container{
    display:flex;
    flex-direction: column;
}

.ff-t-column-1 h5, 
.ff-t-column-2 h5 {
    font-size: 30px;
}

.vosinfosform .ff-t-column-1 {
    flex: 1;
    position: relative; /* Position relative pour les pseudo-éléments */
    padding-right:40px;
}

.vosinfosform .ff-t-column-1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13%; /* Ajustez cette valeur pour modifier la position verticale de la bordure */
    height: 83%; /* La hauteur de la bordure (ajustez selon vos besoins) */
    width: 1px; /* Largeur de la bordure */
    background-color: white; /* Couleur de la bordure */
}

.vosinfosform .ff-t-column-2{
    padding-left:25px;
}

.ff-el-group.ff-custom_html .vosinfosetlivraison {
    margin:0;
    padding-top:65px;
}

.vosinfosform label {
    color:white;
    font-size:20px;
}

.frm-fluent-form .ff-t-container{
    gap:0px;
}

/*Gestion du formulaire 1ère partie*/
.ff-t-container.ff-column-container.ff_columns_total_4.quantite div  {
    display: flex;
    justify-content: center;
}

.ff-t-container.ff-column-container.ff_columns_total_4.quantite{
    border-bottom:1px solid white;
    box-sizing:border-box;
    gap:30px;
    padding-bottom:40px;
}

/* Modification taille inputs première partie formulaire et apparence */
#ff_4_numeric_field_6.ff-el-form-control,
#ff_4_numeric_field_5.ff-el-form-control,
#ff_4_numeric_field_4.ff-el-form-control,
#ff_4_numeric_field_3.ff-el-form-control,
#ff_4_numeric_field.ff-el-form-control {
    width:39px;
    height:56px;
    border-radius:0px;
    padding:4px;
    text-align:center;
}

/* Modification taille inputs deuxième partie formulaire*/
#ff_4_names_last_name_.ff-el-form-control,
#ff_4_names_first_name_.ff-el-form-control,
#ff_4_email.ff-el-form-control,
#ff_4_address_2_address_line_1_.ff-el-form-control,
#ff_4_address_2_city_.ff-el-form-control,
#ff_4_address_2_zip_.ff-el-form-control {
    width:383px;
    height:71px;
}

.wp-block-uagb-container .uagb-block-9142937c {
    padding:0px;
}

.wp-block-uagb-container .uagb-block-09f0be63 {
    padding:0px;
}

.ff-el-input--content .ff-el-form-control {
    padding:0;
}

.commandbuttonsection {
    padding-top:25px;
}

.ff-btn.ff-btn-submit.ff-btn-md.commandbutton.ff_btn_style.wpf_has_custom_css {
    height:55px;
    font-size: 15px;
}

.fraise {
    background-image: url(http://localhost:10008/wp-content/uploads/2024/07/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.png);
    background-size: 193px 129px;
    height:129px;
    width:193px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pamplemousse {
    background-image: url(http://localhost:10008/wp-content/uploads/2024/07/estudio-bloom-tOitjphtIXU-unsplash-1.png);
    background-size: 193px 129px;
    height:129px;
    width:193px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.framboise {
    background-image: url(http://localhost:10008/wp-content/uploads/2024/07/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png);
    background-size: 193px 129px;
    height:129px;
    width:193px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.citron {
    background-image: url(http://localhost:10008/wp-content/uploads/2024/07/estudio-bloom-ezqnxsqUZ80-unsplash-1.png);
    background-size: 193px 129px;
    height:129px;
    width:193px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

/*--------FOOTER----------*/
.footer-menu-class {
    display:flex;
    justify-content: center;
    list-style-type:none;
    padding:20px 0;
}



/* ---------------------------------------RESPONSIVE----------------------------------------- */
@media screen and (max-width: 768px) {

    /*-----HEADER RESPONSIVE MOBILE-----*/

    .custom-logo {
        display:flex;
        justify-content: center;
        padding:15px 0px;
    }

    .menu-header-container {
        display: flex;
        flex-direction: column;
    }

    #menu-header.primary-menu-class {
        width:100%;
    }

    .primary-menu-class {
        font-size:10px;
        text-align: center;
        padding-left:0px;
        gap:0;
    }

    .primary-menu-class li {
        width:calc(50% - 0px)  
    }

    .menu-link {
        width:100%;
    }

    .menu-bouton a {
        padding:10px 10px;
        height:45px;
    }   

    /*-----ACCUEIL MOBILE-----*/
    .wp-block-uagb-container.accueilmobile.uag-hide-desktop.uag-hide-tab.uagb-block-1e79086c.default.uagb-is-root-container {
        position:relative;
    }

    #home {
        padding-top:30px;
        width:100%;
    }

    .image1 {
        position: absolute;
        top: 72px;
        left: 2px;
        z-index: 1;
    }
    
    .image2 {
        position: absolute;
        top: 72px; 
        left: 153px; 
        z-index: 2;
        
    }
    
    .image3 {
        position: absolute;
        top: 50px; 
        left: -290px; 
        z-index: 3;
    }

    .wp-block-uagb-container.uagb-block-68d3763d {
        padding:0;
    }



    /*------NOUS RENCONTRER MOBILE-----*/

    .wp-block-uagb-container.staffcontainer.uagb-block-22d81277.alignfull.uagb-is-root-container {
        padding-top:75px;
    }

   .staffcontainer1 {
        display:flex;
        flex-direction:column;
   }

   .form1 {
    justify-content: center;
    width:100%;
   }

   .nousrencontrer .has-text-align-center p{
    padding-left:0;
   }

   .ast-container {
    padding:0;
   }

   .wp-block-uagb-container.uagb-block-29ca1c13 {
    padding-top:30px;
   }

   .wp-block-uagb-container.uagb-block-d065d675{
    padding:0;
   }

   #fluentform_3 {
    width:80%;
    }

    /*----COMMANDER MOBILE----*/
    #fluentform_4 {
        width:100%;
    }

    .titrecommander {
        padding-top:30px;
    }
    
    .titrepage {
       text-align:center;
    }

    .ff-t-container.ff-column-container.ff_columns_total_4.quantite div {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:10px;
    }

    .vosinfosform .ff-t-column-1 {
        padding-right:0px;
    }

    .vosinfosform .ff-t-column-2 {
        padding-left:0px;
    }

    .ff-t-container.ff-column-container.ff_columns_total_2.vosinfosform div{
        padding:0 5px;
    }

    .ff-el-group.emailcontainer {
        width:305px;
        margin-left:15px;
    }

    .vosinfosform .ff-t-column-1::after {
        display:none;
        content: "";
        position: absolute;
        right: 0;
        top: 6%; /* Ajustez cette valeur pour modifier la position verticale de la bordure */
        height: 89%; /* La hauteur de la bordure (ajustez selon vos besoins) */
        width: 1px; /* Largeur de la bordure */
        background-color: white; /* Couleur de la bordure */
    }

    
}





@media screen and (max-width: 1024px){

    /*-------ACCUEIL TABLETTES-----*/

    .image1 {
        position: absolute;
        top: 72px;
        left: 218px;
        z-index: 1;
    }
    
    .image2 {
        position: absolute;
        top: 72px; 
        left: 153px; 
        z-index: 2;
        
    }
    
    .image3 {
        position: absolute;
        top: 50px; 
        left: -290px; 
        z-index: 3;
    }


    .avisclients {
        display:flex;
        flex-direction: column;
    }


    /*------NOUS RENCONTRER TABLETTE------*/

    .wp-block-uagb-container.uagb-block-d065d675 {
        padding:0;
    }


    /*-------COMMANDER TABLETTE--------*/
    
    .commandsection {
        background-color: red;
        width:100%;
    }

    #content .site-content {
        background-color: #3b8e47;
    }

    .ast-container {
        padding:0;
    }


}






